<h3>Recently viewed.</h3>

<% if history.empty? %>

<p>Sorry mate, there is nothing to report.</p>

<% else %>

<p>What has happened in recent days? Below you see the <%= LOG_SIZE %> most recently visited email addresses.</p>

<br />

<table class="table table-sm">
  <thead>
    <tr>
      <th>Email address</th>
      <th>Timestamp</th>
      <th>IP address</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% history.each do |log| %>
    <tr>
      <td>
        <img src="/envelope-xs.png" width="18" alt="" />
        <a href="/inbox/<%= log[1].split('@')[0] %>"><%= log[1] %></a>
      </td>
      <td nowrap><%= timestamp(log[0]) %></td>
      <td><a href="https://whatismyipaddress.com/ip/<%= log[2] %>" target="_new"><%= log[2] %></a></td>
      <td>
        <% if (log[4] != 'Unknown') %>
        <img src="/flags/<%= log[4].downcase %>.svg" width="18" height="18" alt="" />
        <% end %>
        <abbr title="<%= log[3] %>"><%= log[4] %></abbr>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<% end %>
